<div class="gradient-background" [ngStyle]="setStyles()" #background>
  <div id="change-school" (click)="goToPrevious()">
    <img class="logo" src="..\..\assets\svgs\change.svg">
  </div>
  <div class="summary-container">
    <div class="month" #elMonth>
      {{month}}
    </div>
    <div class="date-day" #dateDay>
      {{date}} {{day}}
    </div>
  </div>
  <div id="card-container" class="card-container" [ngStyle]="setTransform()" #cardContainer>
    <div style="display:none;" #cards></div>
    <app-card></app-card>
  </div>
  <div class="date-controller">
    <img id="prev" src="assets/svgs/prev.svg" (click)="showYesterday()">
    <img id="next" src="assets/svgs/next.svg" (click)="showTomorrow()">
  </div>
  <footer class="decorate-container"></footer>
</div>