#change-school{
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    right: 0;
    cursor: pointer;
    img{
        width: 2vh;
        height: 2vh;
    }
}

#background{
    position: absolute;
    top: 0;
}

.summary-container{
    transform: translateY(10vh);
    width: 25vh;
    height: 25vh;
    border-radius: 12.5vh;
    border: 5px dotted white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;

    blink{
        animation: blinker 600ms cubic-bezier(0.19, 1, 0.22, 1) 1;
    }
    
    @keyframes blinker { 
        0%{
            opacity: 1;
        } 
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .month{
        color: white;
        font-size: 10vh;
        font-weight: 100;
    }

    .date-day{
        color: white;
        font-size: 2vh;
        opacity: .7;
    }
}

.summary-label{
    color: white;
    margin: 0;
    text-align: start;
    font-size: 2.5vh;
}

#school-name{
    @extend .summary-label;
}

#today-date{
    @extend .summary-label;
    font-weight: bold;
}

.card-container{
    height: 50vh;
    width: 100%;
    transform: translateY(15vh);
    display: inline-flex;
    justify-content: space-around;
    transition:  transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

.decorate-container{
    position: absolute;
    bottom: 10px;
    width: 30%;
    height: 5px;
    background: white;
    border-radius: 2.5px;
    left: 50%;
    transform: translateX(-50%);
}

.date-controller{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 65vh;
    img{
        width: 2vh;
        height: 2vh;
        cursor: pointer;
    }

    #prev{
        margin-left: 1vw;
    }

    #next{
        margin-right: 1vw;
    }
}