<div class="gradient-background">
  <div id="change-school">
      <img class="logo" src="..\..\assets\svgs\change.svg">
  </div>
  <div class="summary-container">
    <p id="school-name">학교이름</p>
    <p id="today-date">오늘 날짜</p>
  </div>
  <div class="content-container">
    <p class="meal-time">아침</p>
    <p class="meal-content">{{meals[0]}}</p>
    <p class="meal-time">점심</p>
    <p class="meal-content">{{meals[1]}}</p>
    <p class="meal-time">저녁</p>
    <p class="meal-content">{{meals[2]}}</p>
    <footer class="decorate-container"></footer>
  </div>
</div>