<div class="gradient-background">
  <div id="change-school" (click)="goToPrevious()">
      <img class="logo" src="..\..\assets\svgs\change.svg">
  </div>
  <div class="summary-container">
    <div class="month">
      10
    </div>
    <div class="date-day">
      29 tue
    </div>
  </div>
  <div class="content-container">
    <p class="meal-time">아침</p>
    <p class="meal-content">{{meals[0]}}</p>
    <p class="meal-time">점심</p>
    <p class="meal-content">{{meals[1]}}</p>
    <p class="meal-time">저녁</p>
    <p class="meal-content">{{meals[2]}}</p>
    <footer class="decorate-container"></footer>
  </div>
</div>