$gradient-angle: 150deg;

body{
    min-width: 390px;
    max-width: 590px;
    margin: 0;
}

.background{
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin: 0;
    text-align:center;
    transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
}

.gradient-background{
    @extend .background; 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffab5+0,f3e6db+33,d9dff8+66,c6d3f8+100 */
    /* Old browsers */
    background: rgb(255,250,181);
    /* FF3.6-15 */
    background: -moz-linear-gradient($gradient-angle,  rgba(255,250,181,1) 0%, rgba(243,230,219,1) 33%, rgba(217,223,248,1) 66%, rgba(198,211,248,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient($gradient-angle,  rgba(255,250,181,1) 0%,rgba(243,230,219,1) 33%,rgba(217,223,248,1) 66%,rgba(198,211,248,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient($gradient-angle,  rgba(255,250,181,1) 0%,rgba(243,230,219,1) 33%,rgba(217,223,248,1) 66%,rgba(198,211,248,1) 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffab5', endColorstr='#c6d3f8',GradientType=0 );
}