<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'>
<div class="background" id="search-background">
  <div id="search" #search>
    <input id="input" placeholder="학교 검색" (keypress)="searchSchoolWithKey($event)" #keyword/>
    <button id="button" (click)="searchSchoolWithButton($event)"><i class="fa fa-search"></i></button>
    <div class="spinner"><i class="fa fa-spinner"></i></div>
  </div>
  <div class="result-container">
    <p class="school-count">{{schools.length}}</p>
    <p class="describe-school-count">개의 학교를 찾았습니다</p>
    <div class="school-list" *ngFor="let school of schools">
      <p class="school-name" (click)="selectSchool(school)">{{school.name}}</p>
      <p class="region-name" (click)="selectSchool(school)">{{school.region}}</p>
      <svg xmlns="http://www.w3.org/2000/svg" class="check" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" width="512px" height="512px">
        <g>
          <g>
            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#3394ff"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <button class="start" (click)="showMeal($event)">시작</button>
</div>
