$color: #CCD7F8;
$color-dark: darken(desaturate($color, 10), 5);
$font-size: 30px;
$icon-size: 30px;
$width-input: 100%;
$border-radius: 10px;
$transition: all 0.5s;

// Reset
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

// Rules

#search-background{
	align-items: start;
	background: $color;
	color: #fff;
    display: flex;
	font: $font-size/1.375 'Lato', arial, sans-serif;
	flex-flow: row nowrap;
	justify-content: center;
}

.note{
	font-size: 0.375em;
	font-weight: bold;
	text-transform: uppercase;
	color: darken($color-dark, 15);
}

#search{
	align-items: center;
	background: $color-dark;
	border-radius: $border-radius;
	display: flex;
	justify-content: space-between;
	margin: 0.5em;
	padding: 0.5em 0.5em 0.5em 1em;
	transition: $transition;
	width: $width-input;

	&:hover,
    &:focus{
        background: darken($color-dark, 2);
    }
	
	button,
	input{
		background: transparent;
		border: 0;
		color: inherit;
		font: inherit;
		outline: 0;
    }

	button{
		cursor: pointer;
		padding: 0 0.25em;
    }

	input{
		flex: 1;

		&::placeholder{
            color: #fff;
        }
    }
	.spinner{
		animation: spinner 1s infinite linear;
		display: none;
		padding: 0 0.25em;
    }
}

#search.loading{
	button{
		display: none;
    }

	.spinner{
        display: block;
    }
}


// Animation

@keyframes spinner{
	0%{
		transform: rotate(0deg);
    }
	100%{
        transform: rotate(360deg);
    }
}